* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
}

h2,
h3 {
  text-transform: uppercase;
}

h2,
h3,
p {
  text-align: center;
}

img {
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 2rem auto;
}

.container_form {
  width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.input_container {
  padding: 0.5rem 0;
}

.action {
  padding-top: 1rem;
}

.input_container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
}

input {
  height: 2rem;
  padding: 0.25rem;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -1rem;
}

.card {
  width: calc(100% / 3 - 2rem);
  margin: 1rem;
  border-radius: 20px;
  background-color: rgb(173 216 230 / 10%);
}

.card_body {
  text-align: center;
  padding: 1rem 0;
}

.btn {
  padding: 0.5rem 5rem;
}

.member_image {
  padding: 0.5rem;
}

.member_image img {
  border-radius: 20px;
}

.member_name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form {
  position: relative;
  width: 500px;
  z-index: 900;
}

form .alert {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  display: none;
  margin: 0.5rem 0;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  color: rgb(42, 165, 79);
  background-color: rgb(129, 239, 153);
  border: 1px solid rgb(90, 200, 125);
  box-shadow: 0 0 5px green;
  z-index: 1000;
}
