* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
}

h2,
h3 {
  text-transform: uppercase;
}

h2,
h3,
p {
  text-align: center;
}

img {
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.container_form {
  width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.input_container {
  padding: 0.5rem 0;
}

.action {
  padding-top: 1rem;
}

label,
input {
  display: block;
}

label {
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
}

input {
  width: 400px;
  height: 2rem;
  padding: 0.25rem;
}

.card {
  width: calc(100% / 4);
  border-radius: 20px;
  background-color: rgb(173 216 230 / 10%);
}

.card_body {
  text-align: center;
  padding: 1rem 0;
}

.btn {
  padding: 0.5rem 5rem;
}

.member_image {
  padding: 0.5rem;
}

.member_image img {
  border-radius: 20px;
}

.member_name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
